.list-view {
    width: 300px;
    position: absolute;
    transform: translate(-300px, 0);
    transition: transform 0.5s;
    height: 100%;
    z-index: 10;
    background: #2e3d49;

    .location-search {
        display: flex;
        margin-top: 10px;
        input {
            width: 100%;
            height: 1.75em;
            padding-left: 20px;
        }
    }
    .list-render {
        text-align: left;
        color: rgba(255, 255, 255, 0.75);
        
        .list {
            padding: 10px 30px;
        }
        .list:hover, .list:focus {
            background: #1c262f;
            cursor: pointer;
            color: rgba(255, 255, 255, 1);
            outline: 0;
        }
       
    }
}

.open {
    transform: translate(0, 0);
}