html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.wrong {
    cursor: default;
    background: #f44336;
}
/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.animated {
    animation-duration: 0.7s;
}

section.container .modal{
    margin-top: 15%;
}
.hide {
    display: none;
}

#trophy {
    text-align: center;
}

.modal {
    width: 100%;
    text-align: center;
}
.scoreboard {
    width: 100%;
    text-align: center;
}
table {
    margin: 0 auto;
    width: 600px;
}
td {
    padding: 10px;
    width: 30px;
}

.show-score {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #02b3e4;
    padding: 8px 5px;
    font-size: 18px;
    border-radius: 10px;
    border: 2px #aa7ecd solid;
    color: rgb(46, 61, 73);
    font-weight: 600;
    cursor: pointer;
    z-index: 100;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
}
.score {
    position: fixed;
    z-index: 10;
    top: 0;
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
    width: 100%;
    height: 100%;
}
.save-dialog {
    display: flex;
    width: 70%;
    justify-content: center;
    margin: 20px auto;
}
.btn {
    padding: 8px 8px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    background: #36adba;
    border: 2px rgba(46, 61, 73, 0.5) solid;
}
input {
    font-size: 15px;
    border-radius: 5px;
    height: 2em;
    margin-right: 30px;
    align-self: center;
    border: 2px rgba(46, 61, 73, 0.5) solid;
    padding-left: 10px;
}
.fa-star {
    color: yellow;
}
