nav {
    background: #1c262f;
    color: white;
    display: flex;
    height: 60px;
    .nav-drawer {
        font-size: 1.5em;
        display: flex;
        width: 70px;
        a {
            align-self: center;
            margin: 0 25px;
            cursor: pointer;
            padding: 5px 10px;
            border-radius: 50%;
            transition: all 0.3s;
        }
        a:hover {
            background: #444;
        }
        a:focus {
            outline: 0;
            background: darkslategrey;
        }
    }
    .heading {
        display: flex;
        h1 {
            margin: 0;
            font-size: 1.5em;
            align-self: center;
        }
    }
}